<!-- <h3>History of {{indicatorHistory[0].Category | uppercase}} for {{indicatorHistory[0].Country | uppercase}}</h3> -->
<h3>History of {{country | uppercase }} for {{indicator }}</h3>

<!-- <x-chartist
[type]="type"
[data]="data"
[options]="options"
[events]="events"
></x-chartist> -->

<!-- <div>
  <div style="display: block">
    <canvas baseChart
            [datasets]="barChartData"
            [labels]="barChartLabels"
            [options]="barChartOptions"
            [legend]="barChartLegend"
            [chartType]="barChartType">
    </canvas>
  </div>
</div> -->
<!-- <app-mychart></app-mychart> -->
<div>
    
  <canvas id="canvas">{{chart}}</canvas>
</div>
<!-- <table>
  <thead>
    <tr>
      <td>DateTime</td>
      <td>Value</td>
      <td>Frequency</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let id of indicatorHistory ">
      <td>{{id.DateTime | date:"dd.MM.yyyy" }}</td>
      <td>{{id.Value }}</td>
      <td>{{id.Frequency}}</td>
    </tr>
  </tbody>
</table> -->
