<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
      <a routerLink="/home">Home</a>  
    <a routerLink="/dashboard">Dashboard</a>
    <a routerLink="/ratings">Ratings</a>
  </nav>
  <div>
  <router-outlet></router-outlet>

  <ng-http-loader spinner="sk-chasing-dots"
  [backdrop]="false"
  [backgroundColor]="'#ff0000'"
  [debounceDelay]="100"
  [extraDuration]="400"
  [minDuration]="300"
  [opacity]=".6">
    
  </ng-http-loader>
  </div>
  <!-- <app-messages></app-messages> -->

</div>
