<h3></h3>
<div style="width: 100%;">
    <div style="float: left; width: 40%;">
      <h3>Latest news</h3>
      <app-news></app-news>
    </div>
    <div style="float: left; width: 40%;"><h3>Latest indicators</h3>
    <app-indicator></app-indicator>
    </div>
    <div style="float: left; width: 20%;">
        <h3>Top Ratings</h3>
        <div class="grid grid-pad">
          <a *ngFor="let rating of ratings" class="col-1-4"
            routerLink="/detail/{{rating.Country}}" >
            <div class="module rating">
              <h4>{{rating.Country}}</h4>
            </div>
          </a>
        </div>
    </div>
    <br style="clear: left;" />
   </div>